div {
  background: repeating-linear-gradient(
      45deg,
      #2fbf13,
      #2fbf13 40px,
      #186809 40px,
      #186809 50px
  );
  height: 100vh;
  min-width: 85vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
}
